html, body {
    height: 100%;
    margin: 0;
  }
  
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-container {
    flex: 1;
    padding: 1rem; /* Adiciona o padding necessário */
  }
  