p,
span,
li,
input,
select,
label,
button,
th,
td,
:placeholder-shown,
option,
.maq {
    font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    font-weight: bold;
}

footer {
    margin-top: 50px;
}

.link-sem-underline {
    text-decoration: none;
    color: black;
}

.form-container {
    margin: 20px auto;
    padding: 20px; 
    border: 1px solid #ced4da; 
    border-radius: 5px;
    max-width: 600px;
}  

.custom-dropdown-menu {
    background-color: #f8f9fa;
    color: #333;
}

.custom-dropdown-menu .dropdown-item {
    color: #333;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #e2e6ea;
    color: #000;
}  